
body {
	padding-top: 70px;
	padding-bottom: 20px;
	height: 100%;
	background: whitesmoke;
}
.navbar {
	margin-bottom: 20px;
}

.modal{
	text-align: center;
	padding: 0 !important;
}

.modal::before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog{
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.footer {
	position: fixed;
	padding-top: 10px;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #f5f5f5;
}
#loadmore{
	/* padding-bottom: 100px; */
	text-align: center;
	display: block;
}

.allQuestion {
	font-size : 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: normal;
	border: none;
	cursor:pointer;
}

.space{
	padding-bottom: 100px;
}
#durationSelect{
	display: inline;
	margin-left:50px;
}
#showQuestion{
	font-family: 'Times New Roman', 'Times', 'serif';
	font-size:20px;
}

.col-bg {
	padding: 5px;
}

#submitRoundOne {
	padding-top: 20px;
}

#showQuestion {
	height: 75%;
	overflow: scroll;
}
.cardView{
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
	padding:10px 20px 10px 20px ;
}

#profile{
	background: white;
}
#starttimer{
	display:none;
}
.lb-lg{
	font-size: 15px;
	margin:2px;
}
#selectOption{
	padding-left:20px;
}
.radio{
	margin:20px;
}
.CodeMirror {
	border:2px solid #eee;
	height: 75%;
	/* width:70%; */
	overflow-y: scroll;
	overflow-x: hidden;
	/* margin:0px 50px 0px 50px; */
  }
  
  #langSelect{
	margin-top:20px;
  }

  /* Styling for devices having screen width less then 500px*/
  @media only screen and 
  (max-width:600px){
	  .CodeMirror{
		  margin:0px;
		  width:100%;
		  border: 1px solid #eee;
	  }
	  #langSelect{
		  margin-top:20px;
		  width:100%;
		  margin-left: 0px;
	  }
  }
  .bmargin{
	  margin-bottom:100px;
  }

  .notifications-list{
	  font-family: sans-serif;
  }

  #cardHeading{
	background:teal;
	color:white;
	font-size:20px"
  }

 #notificationBadge{
	background: rgb(32, 32, 32);
  }

  
/* Load More Button */

.load-more-button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #1abc9c;
    line-height: 90px;
    display: block;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    font-weight: 500;
	transition: all 0.3s ease-in-out;
	color:black;
}

.load-more-button:hover {
    background-color: #1abc9c;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
    box-shadow: 0px 7px 9px #696969;
}

.end {
    width: 90px;
    height: 90px;
	border-radius: 50%;
	
    border: 2px dashed #1abc9c;
    line-height: 90px;
    display: block;
    font-size: 16px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    font-weight: 500;
}

table.dataTable 
	tbody tr.selected {
    background-color: #B0BED9;
}
/*
 * Component: Form
 * ---------------
 */
 .form-control {
	border-radius: 0;
	box-shadow: none;
	border-color: #d2d6de;
  }
  .form-control:focus {
	border-color: #3c8dbc;
	box-shadow: none;
  }
  .form-control::-moz-placeholder,
  .form-control:-ms-input-placeholder,
  .form-control::-webkit-input-placeholder {
	color: #bbb;
	opacity: 1;
  }
  .form-control:not(select) {
	-webkit-appearance: none;
	-moz-appearance: none;
  }
  .form-group.has-success label {
	color: #00a65a;
  }
  .form-group.has-success .form-control,
  .form-group.has-success .input-group-addon {
	border-color: #00a65a;
	box-shadow: none;
  }
  .form-group.has-success .help-block {
	color: #00a65a;
  }
  .form-group.has-warning label {
	color: #f39c12;
  }
  .form-group.has-warning .form-control,
  .form-group.has-warning .input-group-addon {
	border-color: #f39c12;
	box-shadow: none;
  }
  .form-group.has-warning .help-block {
	color: #f39c12;
  }
  .form-group.has-error label {
	color: #dd4b39;
  }
  .form-group.has-error .form-control,
  .form-group.has-error .input-group-addon {
	border-color: #dd4b39;
	box-shadow: none;
  }
  .form-group.has-error .help-block {
	color: #dd4b39;
  }
  /* Input group */
  .input-group .input-group-addon {
	border-radius: 0;
	border-color: #d2d6de;
	background-color: #fff;
  }

	.btn-yellow{
		background: rgb(242,187,19);
		color : rgb(37,46,56);
		border-radius: 0; 
		height : 40px;
		padding: auto;
		font : bold;
		font-size: 17px;
		font-family: 'Times New Roman', Times, serif;
	}
  table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}


/** dialog **/

#white-background{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fefefe;
	opacity: 0.7;
	z-index: 9999;
}
#dlgbox{
	/*initially dialog box is hidden*/
	display: none;
	position: fixed;
	width: 480px;
	z-index: 9999;
	border-radius: 10px;
	background-color: #7c7d7e;
	font-family: sans-serif;
}
#dlg-header{
	background-color: #6d84b4;
	color: white;
	font-size: 24px;
	padding: 10px;
	margin: 10px 10px 0 10px;
}
#dlg-body{
	background-color: white;
	color: black;
	font-size: 14px;
	padding: 10px;
	margin: 0 10px 0 10px;
}
#dlg-footer{
	background-color: #f2f2f2;
	text-align: right;
	padding: 10px;
	margin: 0 10px 10px 10px;
}
#dlg-footer button{
	background-color: #6d84b4;
	color: white;
	padding: 5px;
	border: 0;
}